<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <!-- Login Form -->
                    <form action="/account/login" method="post" class="login-form">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="account_email" required
                            value="<%= locals.account_email %>">

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="account_password" required
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                        <div id="passwordRequirements">
                            <p>*the password is at least 12 characters and has at least 1 uppercase
                                character, 1 number
                                and 1 special character.</p>
                        </div>

                        <button type="submit">LOGIN</button>
                        <p class="signup-text">No account? <a href="/account/register">Sign-up</a></p>
                    </form>