<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <div class="managment-links">
                        <p><a href="/inv/add-classification">Add New Classification</a></p>
                        <p><a href="/inv/add-inventory">Add New Inventory</a></p>
                    </div>

                    <h2>Manage Inventory</h2>
                    <p>Select a classification from the list to see the items belonging to the classification</p>
                    <%- classificationSelect %>
                        <table id="inventoryDisplay"></table>
                        <noscript>JavaScript must be enabled to use this page.</noscript>
                        <script src="../../js/inventory.js"></script>